\*\*\*\*\* Nagios \*\*\*\*\*
*Notification Type:* {{notification_type}}
*Host:* {{host_name}}
*State:* {{host_state}}
*Address:* {{host_address}}
*Info:* {{host_output}}
*Date/Time:* {{long_date_time}}
