\*\*\*\*\* Nagios \*\*\*\*\*
*Notification Type:* {{notification_type}}
*Service:* {{service_desc}}
*Host:* {{host_alias}}
*Address:* {{host_address}}
*State:* {{service_state}}
*Date/Time:* {{long_date_time}}
*Additional Info:*
{{service_output}}
